{% extends 'ride/base.html' %}

{% block content %}
  <h1>Request Detail</h1>
  {% if request %}
  <ul>
       <li><a>Creation Date: {{request.created_date}}</a></li>
       <li><a>Ride Status: {{request.status}}</a></li>
       <li><a>Destination: {{request.destination}}</a></li>
           <li><a>Expected Arrival Time:{{ request.arrival_time}}</a></li>
        <li><a>Vehicle Type You Chose:{{ request.vehicle_type }}</a></li>
       <li><a>Total Passenger Number: {{request.total_passenger}}</a></li>
       <li><a>Passenger Number:{{request.passenger_num}}</a></li>
      <li><a>Special Car Info: {{request.special_vehicle_info}}</a></li>

       <a href="{% url 'ride:sharer_join' request.id request.passenger_num %}  " style="color: #888" ><u>Join</u></a>
        <a href="{% url 'ride:sharer_search_ride' %}">Return Search</a>
  </ul>
  {% else %}
    <p>There is no order.</p>
  {% endif %}
{% endblock %}