{% extends 'ride/base.html' %}

{% block title %}My Requests {% endblock %}

{% block content %}
{% if view_requests_list %}
  {% for request in view_requests_list %}
      <p><a href="home.html">{{ request.id }}</a></p>
  {% endfor %}
{% else %}
    <p>No Owner Requests Here!</p>

{% endif %}
{% if sharer_requests_list %}
    {% for request in sharer_requests_list %}
        <p><a href="home.html">{{ request.id }}</a></p>
    {% endfor %}
{% else %}
    <p>No Sharer Requests Here!</p>
    <p><a href="home.html">Home</a></p>
{% endif %}
{% endblock %}