{% extends 'ride/base.html' %}

{% block title %}My Requests {% endblock %}
{% block extrahead %}   {# Extra Resources Start #}
    {{ form.media }}        {# Form required JS and CSS #}
{% endblock %}
{% block content %}
    {% if clicker == 'owner' %}
        {% if view_requests_list %}
            <h2>Your Owner Requests: </h2>
            {% for request in view_requests_list %}
                <p><a href="{% url 'ride:owner_request_detail' request.id %}">{{ request.id }}</a></p>
            {% endfor %}
        {% else %}
            <h2>No Owner Requests Here!</h2>
        {% endif %}
        {% if sharer_requests_list %}
            <h2>Your Share Requests</h2>
            {% for request in sharer_requests_list %}
                <p><a href="{% url 'ride:sharer_request_detail' request.id %}">{{ request.id }}</a></p>
            {% endfor %}
        {% else %}
            <h2>No Sharer Requests Here!</h2>
            <p><a href="{% url 'ride:home' %}">Home</a></p>
        {% endif %}
    {% endif %}
    {% if clicker == 'driver' %}
        {% if open_requests_list %}
            <h2>Open Requests To Drive: </h2>
            {% for request in open_requests_list %}
                <p><a href="{% url 'ride:driver_request_detail' request.id %}">{{ request.id }}</a></p>
            {% endfor %}
        {% else %}
            <h2>No Open Rides!</h2>
            <p><a href="{% url 'ride:driver_home' %}">Driver Home</a></p>
        {% endif %}
    {% endif %}
    {% if clicker == 'sharer' %}
        <h2>Choose Ride to Join: </h2>
        {% if sharer_result_list %}

            {% for request in sharer_result_list %}
                {#                <form action="{% url 'ride:sharer_ownerrequest_detail' request.id %}" method="post">#}
                {#                    {% csrf_token %}#}
                {#                    <p>{{ request.id }}</p>#}
                {#                    <input type="submit" value="View Detail">#}
                {#                </form>#}
                <p><a href="{% url 'ride:sharer_ownerrequest_detail' request.id passenger_num %}">{{ request.id }}</a></p>
            {% endfor %}

        {% else %}
            <h2>No Available Rides!</h2>
            <p><a href="{% url 'ride:home' %}">Home</a></p>
        {% endif %}
    {% endif %}
{% endblock %}